<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Direccion de entrega</th>
            <th>Id usuario</th>
            <th>Alias</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.idpedidos }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.direccion_entrega }}</td>
            <td>{{ pedido.idusuario }}</td>
            <td>{{ pedido.alias }}</td>
        </tr>
    </tbody>
</table>