<h2>Agregar Pedido</h2>
<br>
<div class="card bg-dark text-white">
    <div class="card-body">
        <div class="form-group col-sm-6">
            <label for="idusuario">Usuario</label>
            <input [(ngModel)]="pedido.idusuario" type="text" class="form-control" name="idusuario" id="idusuario"
                placeholder="Id de usuario" autofocus required>
        </div>
        <div class="form-group col-sm-6">
            <label for="direccion">Direccion</label>
            <input [(ngModel)]="pedido.direccion_entrega" type="text" class="form-control" name="direccion_entrega"
                id="direccion_entrega" placeholder="Dirección de entrega" required>
        </div>
        <div class="form-group col-sm-6">
            <label for="direccion">Alias</label>
            <input [(ngModel)]="pedido.alias" type="text" class="form-control" name="alias" id="alias"
                placeholder="Alias" required>
        </div>
    </div>
</div>
<br>
<hr>
<h3>Agregar platos</h3>
<br>
<form class="form-inline my-2 my-lg-0">
    <input [(ngModel)]="id" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
        name="id">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="getPlato()">Buscar</button>
</form>
<br>
<table class="table table-striped table-dark">
    <thead>
        <th>id</th>
        <th>nombre</th>
        <th>precio unitario</th>
        <th>cantidad</th>
        <th>precio total</th>
        <th>Accion</th>
    </thead>
    <tbody>
        <tr *ngFor="let plato of platos; let i = index" [attr.data-index]="i">
            <td>{{ plato.idplatos }}</td>
            <td>{{ plato.nombre }}</td>
            <td>{{ plato.precio }}</td>
            <td>{{ plato.cantidad }}</td>
            <td>{{ plato.cantidad * plato.precio }}</td>
            <td>
                <button (click)="add(i)" class="btn btn-success mr-3">Add</button>
                <button (click)="remove(i)" class="btn btn-danger">Remove</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" (click)="createPedido()">Hacer Pedido</button>